# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
tools
coverage
*.local
CLAUDE.md


/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

tools
.htaccess
public/projects/_images-manifest.json
.env.example
.env
