@use "../partials/variables" as *;
@use "../partials/mixins" as *;
@use "../partials/colors" as *;

header {
  .contentContainer {
    @include flexRowSpaceBetween;
    gap: 1rem;
  }

  .logo,
  .navMenu,
  .playerMenu {
    @include flexCenter;
  }

  .logo,
  .playerMenu {
    @include dimensions(2rem, 2rem);
  }

  .navMenu {
    @include dimensions(100%, 2rem);

    ul {
      @include fullDimensions;
      @include flexRow;
      gap: 2rem;

      .navLink {
        @include relative;
        .label {
          @include absolute(0, 3rem, 0, 0);
        }
      }
    }
  }

  .playerMenu {
    gap: 1rem;

    svg {
      cursor: pointer;
    }
  }
}

.player {
  @include absolute($header-size, 0, 0, 0);
  @include fullPage;

  .video {
    @include absolute;
    @include fullDimensions;
    overflow: hidden;
    z-index: 0;
    .video-bg {
      @include fullDimensions;
      object-fit: cover;
      object-position: center;
      pointer-events: none;
    }
  }

  .content {
    @include relative;
    @include fullDimensions;
    @include flexColumn;
    gap: 1.5rem;
    padding-bottom: 10rem;
    background-color: $night-trans-30;
  }

  .current {
    @include dimensions(100%, auto);
    @include flexColumn;
    gap: 2rem;
    .waves {
      @include flexRow;
      @include dimensions(100%, 4em);
      gap: 0.6rem;
      .wave {
        width: 0.2rem;
        background-color: $cool;
        border-radius: 5px;
        opacity: 0.8;
        animation: wavePulse 1.2s ease-in-out infinite;
        animation-play-state: running;
      }

      .wave:nth-child(1) {
        height: 40%;
        animation-delay: 0s;
      }
      .wave:nth-child(2) {
        height: 60%;
        animation-delay: 0.2s;
      }
      .wave:nth-child(3) {
        height: 100%;
        animation-delay: 0.4s;
      }
      .wave:nth-child(4) {
        height: 60%;
        animation-delay: 0.6s;
      }
      .wave:nth-child(5) {
        height: 40%;
        animation-delay: 0.8s;
      }
    }

    .waves.paused {
      .wave {
        animation-play-state: paused;
      }
    }

    @keyframes wavePulse {
      0%,
      100% {
        transform: scaleY(1);
      }
      50% {
        transform: scaleY(0.2);
      }
    }

    .title {
      font-size: 1.5rem;
      text-align: center;
      color: $ghost;
      padding: 0.5rem 0;
      @include border("bottom");
      border-image: linear-gradient(to right, transparent, $ghost, transparent)
        1;
    }
    .controls {
      @include flexRowSpaceBetween;
      gap: 1rem;
    }
  }

  .volumeController {
    @include dimensions(100%, 6rem);
    @include flexRow;
    gap: 0.6rem;

    svg {
      @include dimensions(1.5rem, 1.5rem);
    }

    .volumeBar {
      @include dimensions(50%, 100%);
      min-width: 10rem;
      @include flexCenter;

      .bar,
      .progress {
        @include dimensions(100%, 0.2rem);
      }

      .bar {
        @include relative;
        background: $cool-trans-30;
        cursor: pointer;
        .progress,
        .handle {
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          background: $ghost;
        }

        .handle {
          z-index: 2;
          @include dimensions(1rem, 1rem);
          border-radius: 50%;
          cursor: pointer;
        }
      }
    }
  }

  .trackList {
    @include dimensions(100%, auto);
    @include flexColumn;
    padding: 2rem 1rem;
    .next {
      font-size: 0.7rem;
      color: $cool;
      margin-bottom: 1rem;
    }
    .list {
      @include fullDimensions;
      @include flexColumn;
      gap: 1rem;
      .track {
        color: $cool;
        gap: 0.6rem;
        padding: 0.2rem 0;
        @include border("bottom");
        border-image: linear-gradient(to right, transparent, $cool, transparent)
          1;
        cursor: pointer;
        &:hover {
          color: $ghost;
          border-image: linear-gradient(
              to right,
              transparent,
              $ghost,
              transparent
            )
            1;
        }
      }
    }
  }

  .socials {
    @include flexColumn;
    @include dimensions(100%, 8rem);
    @include absolute(auto, 0, 0, 0);
    gap: 0.6rem;
    .spotify:hover,
    .youtube:hover {
      text-decoration: underline;
    }
    .spotify:hover {
      color: #1db954;
      text-decoration-color: #1db954;
    }
    .youtube:hover {
      color: #ff0000;
      text-decoration-color: #ff0000;
    }
  }
}
