@use "@/style/partials/colors" as *;
@use "@/style/partials/typography" as *;
@use "@/style/partials/variables" as *;
@use "@/style/partials/mixins" as *;

.page#home {
  #hero {
    padding: 0;
    position: relative;
    min-height: 100% !important;
    height: 100% !important;
    isolation: isolate;

    .overlay {
      @include absolute(0, 0, 0, 0);
      width: 100%;
      height: 100%;
      background-color: rgba($night, 0.65);
      z-index: 1;
      pointer-events: none;
      backface-visibility: hidden;
      perspective: 1000px;
    }

    .video {
      @include absolute(0, 0, 0, 0);
      width: 100%;
      height: 100%;
      z-index: 0;
      transform: translateZ(0);
    }

    .contentContainer {
      position: relative;
      z-index: 2;
      gap: 2rem;
      @include flexColumn;

      .heroTitle {
        position: relative;
        width: 100%;
        height: 8rem;
        @include flexCenter;

        .title,
        .logo {
          @include absoluteCenter;
        }

        .title {
          color: $ghost;
          font-size: 4rem;
        }
      }

      .heroText {
        width: 80%;
        margin-bottom: 2rem;

        .bio {
          color: $cool;
          margin: 0 auto;
          text-align: center;
          font-size: 0.9rem;

          b {
            display: block;
            font-size: 1.1rem;
            margin-bottom: 1rem;
          }
        }
      }
    }

    .video {
      opacity: 0;
      transition: opacity 0.6s ease-in;
      overflow: hidden;

      &.loaded {
        opacity: 1;
      }

      .video-bg {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        pointer-events: none;
      }
    }

    @media screen and (min-width: $breakpoint-sm) {
      .contentContainer {
        .heroTitle {
          height: 12rem;

          .title {
            font-size: 6rem;
          }
        }

        .heroText {
          .bio {
            line-height: 1.6rem;
            font-size: 1rem;

            b {
              font-size: 1.2rem;
              margin-bottom: 1.2rem;
            }
          }
        }
      }
    }

    @media screen and (min-width: $breakpoint-md) {
      .contentContainer {
        .heroTitle {
          height: 15rem;

          .title {
            font-size: 8rem;
          }
        }

        .heroText {
          .bio {
            line-height: 1.8rem;
            font-size: 1rem;

            b {
              font-size: 1.2rem;
              margin-bottom: 1.5rem;
            }
          }
        }
      }
    }
  }

  #projectCategories {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(4, 25%);

    .category {
      @include relative;
      overflow: hidden;
      cursor: pointer;

      .background {
        @include absolute;
        z-index: 0;

        img {
          @include fullDimensions;
          object-fit: cover;
          object-position: center;
        }
      }

      .text {
        @include relative;
        @include fullDimensions;
        @include flexColumnLeft;
        z-index: 1;
        padding: 1rem 1.6rem 1.6rem;
        gap: 0.5rem;
        background-color: $night-trans-50;
        transition: background-color 1s ease-in-out;

        .title,
        .subtitle,
        .description,
        .alias {
          margin: 0;
        }

        .title {
          font-size: 1rem;
          font-weight: 600;
        }

        .subtitle {
          font-family: $font-family-heading;
          font-size: 0.8rem;
          font-weight: 300;
        }

        .description {
          display: none;
        }

        .cta {
          color: $cool;
          font-size: 0.6rem;
          font-style: italic;
          @include absolute(auto, auto, 1.8rem, 1rem);
          margin: 0;
        }
      }
    }

    @media screen and (min-width: $breakpoint-sm) {
      .category {
        .text {
          padding: 1.2rem 1.8rem 1.6rem;

          .title {
            font-size: 1.2rem;
          }

          .subtitle {
            font-size: 0.9rem;
          }

          .description {
            display: block;
            font-size: 0.8rem;
          }

          .cta {
            font-size: 0.7rem;
          }
        }
      }
    }

    @media screen and (min-width: $breakpoint-md) {
      grid-template-columns: repeat(2, 50%);
      grid-template-rows: repeat(2, 50%);

      .category {
        .text {
          @include flexColumnLeft;
          background-color: rgba($night, 0.7);

          .title {
            font-size: 1.8rem;
          }

          .subtitle {
            font-size: 1.2rem;
          }

          .description {
            font-size: 0.9rem;
          }

          .cta {
            font-size: 1rem;
            opacity: 0;
            @include absolute(auto, auto, 2.4rem, 1.6rem);
            translate: 100%;
            transition: all 0.6s ease-in-out;
          }

          &:hover {
            background-color: rgba($night, 0.3);
            transition: background-color 1s ease-out;

            .cta {
              opacity: 1;
              translate: 0;
              transition: all 0.6s ease-out;
            }
          }
        }
        &.materical .text {
          background-color: rgba($night, 0.9);
          &:hover {
            background-color: rgba($night, 0.5);
          }
        }
      }
    }
  }

  #visitCard {
    @include flexColumnStretch;
    background-color: $cool;
    background-image: linear-gradient(
      to bottom,
      $night-trans-50 0%,
      transparent 15%
    );
    color: $night;

    .mirror,
    .contacts {
      padding: 1.2rem;
    }

    .mirror {
      @include border("bottom");
      border-image: linear-gradient(to right, $chocolate, $cool) 1;

      .contentContainer {
        @include flexRowRight;
        gap: 1rem;
      }

      .profile {
        @include dimensions(6rem, 6rem);
        min-width: 6rem;
        min-height: 6rem;
        @include border("all", $chocolate);
        border-radius: 50%;
        overflow: hidden;
      }

      .names {
        @include dimensions(100%, auto);
        @include flexColumnLeft;
        gap: 0.5rem;

        .alias,
        .name {
          color: $chocolate;
        }

        .alias {
          font-size: 2.5rem;
          font-weight: 600;
        }

        .name {
          font-size: 1.2rem;
          font-weight: 300;
        }
      }
    }

    .contacts {
      flex-grow: 1;

      .contentContainer {
        @include flexColumnStretch;
        gap: 1rem;
      }

      .callToAction {
        @include dimensions(100%, auto);
        @include flexCenter;
        flex-grow: 1;

        h6 {
          color: $night;
          font-size: 1.2rem;
          font-weight: 600;
          text-align: center;
        }
      }

      .contactList {
        @include dimensions(100%, auto);
        @include flexColumnTopRight;
        gap: 0.5rem;
        flex-grow: 2;
        padding-right: 1.5rem;

        .contact {
          padding-right: 1rem;
          margin-left: auto;
          @include flexRow;
          gap: 1rem;

          .info {
            font-size: 1rem;
            margin: 0.6rem 0;
          }

          .icon {
            color: $chocolate;
            margin-top: 0.2rem;
            font-size: 1.2rem;
          }
        }
      }
    }

    footer {
      @include dimensions(100%, 5rem);
      background-color: $chocolate;
      color: $ghost;
      padding: 1.2rem;
      font-size: 0.7rem;
      font-weight: 400;

      .contentContainer {
        @include flexRowSpaceBetween;
        align-items: center;
        gap: 1rem;

        .property {
          display: none;
        }

        a {
          color: $ghost;
          text-decoration: none;
          transition: opacity 0.3s ease;

          &:hover {
            opacity: 0.7;
          }
        }
      }
    }

    @media screen and (min-width: $breakpoint-md) {
      .mirror {
        padding: 2rem 1.2rem;

        .profile {
          @include dimensions(8rem, 8rem);
          min-width: 8rem;
          min-height: 8rem;
        }

        .names {
          .alias {
            font-size: 3rem;
          }

          .name {
            font-size: 1.2rem;
          }
        }
      }

      .contacts {
        margin-bottom: 0;

        .callToAction {
          h6 {
            font-size: 1.5rem;
          }
        }

        .contactList {
          @include flexColumnRight;

          .contact {
            .info {
              font-size: 1.1rem;
            }

            .icon {
              font-size: 1.4rem;
            }
          }
        }
      }

      footer {
        @include dimensions(100%, 3rem);
        padding: 1rem 3rem;
        font-size: 0.8rem;
        .contentContainer .property {
          display: inline-block;
        }
      }
    }
  }
}
