@use "../partials/variables" as *;
@use "@/style/partials/colors" as *;
@use "@/style/partials/mixins" as *;

// MAIN SCROLL HANDLER
.scrollbar {
  @include fixed(50%, auto, 0, auto);
  transform: translateY(-50%);
  @include flexColumn;
  gap: $padding-sm * 0.6;
  z-index: 500;
}

.dot {
  @include dimensions(30px, 30px);
  padding: $padding-sm * 0.7;
  padding-right: $padding-sm;
  @include flexCenter;
  cursor: pointer;
}

.dot-inner {
  @include dimensions(5px, 100%);
  background-color: rgba($madder, 0.8); // base dot
  border-radius: 2px;
  opacity: 0.3;
  transition: opacity 0.3s, background-color 0.3s, box-shadow 0.3s;
}

.dot.active .dot-inner {
  opacity: 0.8;
  background-color: $madder;
  box-shadow: 0 0 5px rgba($chocolate, 0.8);
}

@media (hover: hover) {
  .dot:hover .dot-inner {
    opacity: 0.7;
  }
}

// GENERIC SCROLLBARS
* {
  --sb-track-color: transparent;
  --sb-thumb-color: rgba(#{$ghost}, 0.6);
  --sb-size: 3px;

  &::-webkit-scrollbar {
    width: var(--sb-size);
  }

  &::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    margin-left: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
  }
}

@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

// Nascondo la scrollbar solo sulle .page (ma lo scroll resta attivo)
.page {
  --sb-track-color: transparent;
  --sb-thumb-color: transparent;
  --sb-size: 0;

  // Firefox + IE/Edge legacy
  scrollbar-width: none;
  -ms-overflow-style: none;

  // WebKit
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}
