// ------------------------------------
// COLORI PRINCIPALI
// ------------------------------------
$night: #151413;
$cool: #a09fa8;
$chocolate: #490818;
$madder: #a2021c;
$ghost: #f7f3f7;

// ------------------------------------
// NIGHT
// ------------------------------------
$night-lighter-20: #444342; // 80% #151413 + 20% #ffffff
$night-darker-20: #11100f; // 80% #151413 + 20% #000000
$night-trans-30: rgba(#151413, 0.7); // 30% trasparenza
$night-trans-50: rgba(#151413, 0.5); // 30% trasparenza

// ------------------------------------
// COOL (Gray)
// ------------------------------------
$cool-lighter-20: #b3b2b9; // 80% #a09fa8 + 20% #ffffff
$cool-darker-20: #807f86; // 80% #a09fa8 + 20% #000000
$cool-trans-30: rgba(#a09fa8, 0.7);

// ------------------------------------
// CHOCOLATE
// ------------------------------------
$chocolate-lighter-20: #6d3946; // 80% #490818 + 20% #ffffff
$chocolate-darker-20: #3a0613; // 80% #490818 + 20% #000000
$chocolate-trans-30: rgba(#490818, 0.7);

// ------------------------------------
// MADDER
// ------------------------------------
$madder-lighter-20: #b53549; // 80% #a2021c + 20% #ffffff
$madder-darker-20: #820216; // 80% #a2021c + 20% #000000
$madder-trans-30: rgba(#a2021c, 0.7);

// ------------------------------------
// GHOST
// ------------------------------------
$ghost-lighter-20: #f9f5f9; // 80% #f7f3f7 + 20% #ffffff
$ghost-darker-20: #c6c2c6; // 80% #f7f3f7 + 20% #000000
$ghost-trans-30: rgba(#f7f3f7, 0.7);